

/*------------------------------Site*/

body {   
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
    body main {
        flex: 1 0 auto;
        min-height: calc(100vh - 105px);
    }

header {
    display: block;
    width: 95%;
    height: 45px;
    padding-top: 10px
}
footer {
    border-top: 2px solid rgba(17,17,67,.2);
    height: 60px;
    background-color: whitesmoke;
    color: #000046;
}
* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #000046;
    text-transform: uppercase;
    font-family: 'Century Gothic', sans-serif;
}

li {
    font-family: 'Century Gothic', sans-serif;
}

h1 {
    font-size: 40px;
    width: 100%;
}

h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid lightgray;
}
/*-------------------------- header */

    
header nav{
    display:block;
    width:100% !important;

}
header nav ul {
    width: 800px;
    text-align: center;
    margin: 0px;
    float:right;
}
header nav ul:hover{
    cursor: pointer;
  
}
header nav ul li {    
    width:80px; 
    display:inline-block;  
    text-align:center;
    list-style-type: none;
}
header nav ul li a{
    color:#000046;     
    text-decoration: none;
    font-size:18px;
    font-weight:bold;

}
    header nav ul li a:hover {
        color: gray;
    }
    /*----------------Header Image fa fa-bars*/
.fabars {
    height: 40px;
    width: auto;
    display:none;  
    float:right;
    margin-top:10px;
}
/*----------------Header mobile menu   */
#MobileMenu {
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
    width: 0px;
    visibility: hidden;
    transition: width 0.3s;
    height: 500px;
    border-right: 2px solid lightgray;
    padding-top: 0px;
    margin-top: 0px;
}

    #MobileMenu .closeSection {
        text-align: right;
        height: 40px;
        display: block;
    }

    #MobileMenu .close {
        float: right;
        font-size: 40px;
        color: #000046;
        margin: 15px;
    }

    #MobileMenu a {
        text-decoration: none;
        color: #000046;
    }
    #MobileMenu a:hover {        
        color: gray;
    }
    #MobileMenu .close {
        color: gray;
    }

    #MobileMenu ul {
        text-align: left;
        width:100%;       
        display: block;
    }

        #MobileMenu ul li {
            text-align: left;
            display: block;
            padding: 10px;
            font-size: 22px;
            width: 90%;
            border-bottom: 1px solid lightgray;
        }

@media screen and (max-width: 740px) {
    header nav{
        display:none;       
    }
    header{
        display:block;
    }
    .fabars{
        display:block;
    }
        
}


/**----------------------------------footer*/

    /**---------------------Home Page*/    

    * {
        box-sizing: border-box;
    }

    .home {
        width: 70%;
        margin-left: 15%;
        margin-top:150px;
    }

        .home .row {
            display: flex;
            flex-wrap: wrap;
        }

            .home .row .column {
                flex: 25%;
                padding: 20px;
                text-align: center;
            }

        .home .paddTop100 {
            padding-top: 100px;
        }

        .home .row .column h2 {
            font-size: 40px
        }

        .home .row .column span {
            font-size: 20px;
            font-weight: bold;
            color: #000046;
            display: inline-block;
            text-align: center;
            width: 150px;
            margin-top: 30px
        }

        .home .row .column .addText {
            padding-top: 30px;
            font-size: 18px;
            font-weight: 300;
        }

        .home .row .column img {
            height: 500px;
            width: auto;
            border-radius: 50%;
            border: 15px solid lightgray;
        }
    @media screen and (max-width: 1515px) {
        .home .row .column h2 {
            font-size: 30px
        }
    }

    @media screen and (max-width: 1440px) {
       

        .home .row .column span {
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
            width: 100px;
            margin-top: 30px
        }

        .home .row .column .addText {
            padding-top: 30px;
            font-size: 15px;
            font-weight: 300;
        }
    }

@media screen and (max-width: 1250px) {
    .home .row .column h2 {
        font-size: 20px
    }
}

    @media screen and (max-width: 1100px) {
        .home {
            width: 90%;
            margin-left: 5%
        }

            .home .row .column h2 {
                font-size: 30px
            }

            .home .row .column h2 {
                font-size: 20px
            }

            .home .row .column span {
                font-size: 15px;
                font-weight: bold;
                display: inline-block;
                text-align: center;
                width: 80px;
                margin-top: 30px
            }

            .home .row .column .addText {
                padding-top: 15px;
                font-size: 14px;
                font-weight: 300;
            }
    }

    @media screen and (max-width: 800px) {
        .home .row .column h2 {
            font-size: 16px
        }
        .home .row .column span {
            font-size: 14px;
            margin: 5px
        }
        .home .row .column .addText {            
            font-size: 12px;           
        }
        .home {
            width: 100%;
            padding: 25px;
            margin-top: 15px;
        }

      
    }

    @media screen and (max-width: 768px) {
        .home .row .column {
            flex: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .home {
            margin: 0px;
            padding: 0px;
            width: 100%
        }

            .home .row {
                flex-direction: column;
                width: 100%;
                margin: 0px;
                margin-right: 0px;
            }

                .home .row .column img {
                    height: auto;
                    width: 90%;
                }

                .home .row .column h2 {
                    width: 100%
                }
    }

    /**--------------------About Page*/

    .about {
        position: relative;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }

        .about .row {
            display: flex;
            flex-wrap: wrap;
        }

            .about .row .column1 {
                flex: 0 0 300px;
                padding: 20px;
                text-align: center;
            }

            .about .row .column2 {
                flex: 1;
                padding: 20px;
                text-align: left;
            }



                .about .row .column2 p {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 50px
                }

            .about .row .column1 img {
                height: auto;
                width: 250px;
                max-width: 90%;
                border-radius: 50%;
            }

        .about .paddTop100 {
            padding-top: 100px;
        }

    th, td {
        text-align: left;
        height: 35px
    }

    tr {
        border-bottom: lightgray;
    }

    thead th:nth-child(1) {
        width: 20%;
    }

    thead th:nth-child(2) {
        width: 20%;
    }

    thead th:nth-child(3) {
        width: 60%;
    }

    tbody tr:nth-child(odd) {
        background-color: whitesmoke;
    }

    tbody tr:nth-child(even) {
        background-color: #FFFFFF;
    }


    #imgsContainer {
        display: block;
        margin: auto;
        text-align: center;
    }

    .imgBox {
        display: inline-block;
        float: left;
        position: relative;
        width: 250px;
        height: 350px;
        margin: 60px 0px 0px 60px;
        border: 3px solid lightgray
    }

    .image {
        position: relative;
        display: block;
        width: 250px;
        height: 350px;
        margin: 0px;
    }

        .image img {
            position: relative;
            display: block;
            width: 245px;
            height: 345px;
        }

    .overlay {
        position: absolute;
        width: 245px;
        height: 345px;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: .5s ease;
        background-color: #000046;
    }

    .imgBox:hover .overlay {
        opacity: .8;
    }

    .text {
        color: #FFFFFF;
        font-size: 20px;
        position: relative;
        margin-top: 80px;
        text-align: center;
        padding: 20px;
    }

    a {
        color: inherit
    }

        a:hover {
            cursor: pointer;
        }

    @media screen and (max-width: 1100px) {
        .about .row .column1 {
            flex: 0 0 150px;
            padding: 10px;
            padding-top: 40px;
        }

        .about .row .column2 {
            padding: 10px;
        }

            .about .row .column2 p {
                font-size: 20px;
                line-height: 1.1;
                padding-top: 0px
            }
    }

    @media screen and (max-width: 992px) {
        .about {
            width: 90%;
            margin-left: 5%
        }
    }

    @media screen and (max-width: 740px) {
        .imgBox {
            margin: 25px;
        }
    }

    @media screen and (max-width: 600px) {
        .about .row {
            flex-direction: column;
        }

        #imgsContainer {
            margin: 0 auto;
            padding-left: 20px;
            width: 100%;
            text-align: center;
        }

        .imgBox {
        }

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }



    /**---------------Projects Page*/

    .projects {
        width: 70%;
        margin-left: 15%
    }

        .projects .row {
            display: flex;
            flex-wrap: wrap;
        }

            .projects .row .column1 {
                flex: 0 0 300px;
                padding: 20px;
                text-align: center;
            }

            .projects .row .column2 {
                flex: 1;
                padding: 20px;
                text-align: left;
            }



                .projects .row .column2 p {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 50px
                }

            .projects .row .column1 img {
                height: auto;
                width: 250px;
                max-width: 90%;
                border-radius: 50%;
            }

        .projects .paddTop100 {
            padding-top: 100px;
        }

    @media screen and (max-width: 1100px) {
        .projects .row .column1 {
            flex: 0 0 150px;
            padding: 10px;
            padding-top: 40px;
        }

        .projects .row .column2 {
            padding: 10px;
        }

            .projects .row .column2 p {
                font-size: 20px;
                line-height: 1.1;
                padding-top: 0px
            }
    }

    @media screen and (max-width: 992px) {
        .projects {
            width: 90%;
            margin-left: 5%
        }
    }

    @media screen and (max-width: 600px) {
        .projects .row {
            flex-direction: column;
        }
    }


    /**---------------Contact Page*/

    .MainContact {
        width: 70%;
        margin-left: 15%;
    }

    .Contact {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .Contact .box {
            position: relative;
            width: 600px;
            height: 650px;
        }

        .Contact #face {
            position: absolute;
            width: 600px;
            max-width: 100%;
            border: 2px solid lightgray;
            border-radius: 10px;
            background-color: whitesmoke;
            visibility: visible;
            opacity: 1;
            transition: visibility 0.3s linear,opacity 0.3s linear;
        }

        .Contact #back {
            position: absolute;
            text-align: center;
            width: 600px;
            max-width: 100%;
            border: 2px solid lightgray;
            border-radius: 10px;
            background-color: whitesmoke;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s linear,opacity 0.3s linear;
        }

        .Contact h3 {
            font-size: 24px;
            display: flex;
            flex-direction: row;
            justify-content: center
        }

        .Contact .row {
            display: flex;
        }

        .Contact .column {
            display: flex;
            flex-direction: column;
            flex: 50%;
            padding: 15px;
        }

        .Contact .full {
            flex: 100%;
        }

        .Contact .column label {
            font-weight: bold;
        }

            .Contact .column label span {
                font-size: 10px;
            }

        .Contact .column input {
            height: 35px;
            border: 1px solid lightgray;
            width: 100%;
            border-radius: 6px;
        }

        .Contact .column textarea {
            height: 35px;
            border: 1px solid lightgray;
            width: 100%;
            border-radius: 6px;
            height: 150px;
        }

    @media only screen and (max-width: 620px) {
        .MainContact {
            width: 100%;
            margin-left: 0;
            padding: 15px;
        }

        .Contact .box {
            width: 90%;
            height: 850px
        }

        .Contact .column {
            flex: 100%;
        }

        .Contact .row {
            display: flex;
            flex-direction: column;
        }
    }


    /**---------------Resume Page*/

    .MainResume {
        width: 70%;
        margin-left: 15%;
    }

        .MainResume .row {
            display: flex;
            flex-wrap: wrap;
        }

            .MainResume .row .column1 {
                flex: 0 0 300px;
                padding: 20px;
                text-align: center;
            }

            .MainResume .row .column2 {
                flex: 1;
                padding: 20px;
                text-align: left;
            }



                .MainResume .row .column2 p {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 50px
                }

            .MainResume .row .column1 img {
                height: auto;
                width: 250px;
                max-width: 90%;
                border-radius: 50%;
            }

        .MainResume .paddTop100 {
            padding-top: 100px;
        }

        .MainResume .MainRow button {
            width: 150px;
            float: right
        }


    .lang-slider {
        padding: 20px;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
    }

        .lang-slider:hover div {
            animation-play-state: paused;
        }

        .lang-slider div {
            display: flex;
            position: relative;
            animation: marquee 15s linear infinite;
            justify-content: space-around;
        }

        .lang-slider .logoimg {
            display: block;
            min-width: 150px;
            height: 150px;
            margin: 0 10px;
        }

            .lang-slider .logoimg:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                /* background: linear-gradient(to right, #FFFFFF, rgba(#FFFFFF, 0) 80px, rgba(#FFFFFF, 0) calc(100% - 80px), #FFFFFF);*/
            }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-650%);
        }
    }

    button {
        background-color: rgba(17,17,67,.8);
        color: #FFFFFF;
        height: 35px;
        border-radius: 6px;
        font-weight: 400;
        font-size: 18px
    }

        button:hover {
            background-color: #FFFFFF;
            color: rgba(17,17,67,.8);
            border-color: rgba(17,17,67,.8);
        }


    #Education section {
        margin-top: 50px;
        clear: both;
        display: block;
        width: 100%;
        border: 2px solid lightgray;
        height: 252px;
        padding: 0px
    }

        #Education section:hover {
            border: 4px solid #000046;
            height: 258px;
        }

        #Education section .leftSide {
            width: 20%;
            display: inline-block;
            float: left;
            border-right: 2px solid lightgray;
            height: 250px;
            padding: 0px;
            text-align: center
        }

        #Education section .rightSide {
            width: 80%;
            display: inline-block;
            float: left;
            padding: 25px;
            background-color: whitesmoke;
            height: 248px
        }

            #Education section .rightSide .main {
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                font-size: 24px;
                width: 100%;
                display: block;
                clear: both;
                color: #000046;
                font-weight: bold;
                text-transform: Uppercase;
            }

            #Education section .rightSide .sub {
                font-size: 20px;
                margin-top: 10px;
                width: 100%;
                display: block;
                clear: both;
                font-weight: bold;
                text-transform: Uppercase;
            }

            #Education section .rightSide .textNode {
                font-size: 18px;
                width: 100%;
                display: block;
                clear: both;
            }

        #Education section figure img {
            width: auto;
            height: 200px
        }

    @media screen and (max-width: 821px) {
        .MainResume {
            width: 90%;
            margin: 0px;
            padding: 15px;
        }

            .MainResume .row .column1 {
                display: block;
                width: 100%;
                padding: 0px;
                margin: 0px;
                text-align: center;
            }

            .MainResume .row .column2 {
                display: block;
                width: 100%;
                padding: 20px;
                text-align: left;
            }



                .MainResume .row .column2 p {
                    font-size: 15px;
                    line-height: 1.2;
                    padding-top: 50px;
                    text-align: center;
                }

            .MainResume .row .column1 img {
                height: auto;
                width: 80%;
                margin-left: 10%;
                border-radius: 50%;
            }



        #Education section .leftSide {
            width: 30%;
        }

        #Education section .rightSide {
            width: 70%;
            display: inline-block;
            float: left;
            padding: 25px;
            background-color: whitesmoke;
            height: 248px
        }

        #Education section figure img {
            margin-top: 50px;
            width: 100%;
            height: auto
        }
    }

    @media screen and (max-width: 600px) {
        #Education section {
            margin-top: 50px;
            clear: both;
            display: block;
            width: 100%;
            border: 2px solid lightgray;
            height: 125px;
            padding: 0px
        }

            #Education section:hover {
                border: 4px solid #000046;
                height: 130px;
            }



            #Education section .rightSide {
                width: 80%;
                padding: 0px;
                background-color: whitesmoke;
                height: 120px;
                padding-left: 15px
            }

                #Education section .rightSide .main {
                    padding: 0px;
                    margin: 0px;
                    font-size: 12px;
                    width: 100%;
                    display: block;
                    clear: both;
                    color: #000046;
                    font-weight: bold;
                    text-transform: Uppercase;
                }

                #Education section .rightSide .sub {
                    font-size: 11px;
                    width: 100%;
                    display: block;
                    clear: both;
                    font-weight: bold;
                    text-transform: Uppercase;
                }

                #Education section .rightSide .textNode {
                    font-size: 11px;
                    width: 100%;
                    display: block;
                    clear: both;
                }

            #Education section .leftSide {
                width: 20%;
                display: inline-block;
                float: left;
                border-right: 2px solid lightgray;
                height: 120px;
                padding: 0px;
                text-align: center
            }

            #Education section figure {
                width: 100%;
                height: 100px;
                display: block;
                position: relative;
                margin: 0px;
                margin-top: 25px;
                padding: 0px;
            }

                #Education section figure img {
                    margin-top: 0px;
                    width: 50px;
                    height: auto
                }
    }


    /*-----------------------------------------------------Hobbies page*/
    .hobbiesMain {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }

    .hobby {
        margin-top: 50px;
        clear: both;
        position: relative;
        display: block;
        width: 100%;
        border: 2px solid lightgray;
        height: 304px;
        padding: 0px
    }


        .hobby .leftSide {
            width: 20%;
            display: inline-block;
            float: left;
            border-right: 2px solid lightgray;
            border-right: none;
            padding: 0px;
            margin: 0px;
            text-align: center;
            overflow: hidden;
            height: 300px;
        }

        .hobby .rightSide {
            width: 80%;
            display: inline-block;
            float: left;
            padding: 25px;
            background-color: whitesmoke;
            height: 300px;
        }

            .hobby .rightSide .main {
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                font-size: 24px;
                width: 100%;
                display: block;
                clear: both;
                color: #000046;
                font-weight: bold;
                text-transform: Uppercase;
            }

            .hobby .rightSide .sub {
                font-size: 20px;
                margin-top: 10px;
                width: 100%;
                display: block;
                clear: both;
                font-weight: bold;
                text-transform: Uppercase;
            }

            .hobby .rightSide .textNode {
                font-size: 18px;
                width: 100%;
                display: block;
                clear: both;
            }

        .hobby figure {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

            .hobby figure img {
                width: 100%;
                height: 300px;
            }




    @media screen and (max-width: 1224px) {
        .hobby .leftSide {
            width: 30%;
        }

        .hobby .rightSide {
            width: 70%;
        }
    }

    @media screen and (max-width: 992px) {
        .hobbiesMain {
            width: 90%;
            margin-left: 5%;
        }
    }

    @media screen and (max-width: 768px) {
        .hobby {
            height: 200px;
        }

            .hobby .leftSide {
                height: 195px;
                width: 20%;
            }

            .hobby .rightSide {
                height: 195px;
                width: 80%;
            }

            .hobby figure img {
                width: 100%;
                height: 195px;
            }

            .hobby .rightSide .main {
                font-size: 18px;
            }

            .hobby .rightSide .textNode {
                font-size: 14px;
            }
    }

    @media screen and (max-width: 500px) {
        .hobby {
            height: 150px;
        }

            .hobby .leftSide {
                height: 145px;
                width: 25%;
            }

            .hobby .rightSide {
                height: 145px;
                width: 75%;
                padding: 0px;
                padding-left: 5px
            }

            .hobby figure img {
                width: 100%;
                height: 145px;
            }

            .hobby .rightSide .main {
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 0;
            }

            .hobby .rightSide .textNode {
                font-size: 11px;
            }
    }


